* {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  height: 387px;

  display: flex;
  flex-direction: column;

  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  align-items: center;
}

.container {
  width: 1180px;
  overflow: hidden;
  display: flex;
}

.top {
  padding-left: 14px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 900;
  font-size: 20px;
  margin-right: 980px;
}

.more {
  text-decoration: none;
  color: rgb(53, 197, 240);
  font-weight: 900;
  font-size: 15px;
}

.card {
  width: 390px;
  min-width: 390px;
  height: 450px;

  cursor: pointer;
  padding: 10px;
}

.image_box {
  width: 100%;
  height: 255px;
  overflow: hidden;
  border-radius: 6px;
}

.image_box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.card:hover .image_box img {
  transform: scale(1.05);
}

.description {
  margin-top: 4px;
  margin-bottom: 5px;
  font-size: 13.5px;
  font-weight: 900;
}

.description_container {
  padding: 13px;
}

.tags {
  font-size: 11.5px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 1195px;
  margin-right: 20px;
  transform: translateX(5px);
  position: relative;
  top: -200px;
}

.prev {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}
.prev:hover {
  background-color: rgb(53, 197, 240);
}
.prev:hover svg {
  fill: white;
}

.next {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}
.next:hover {
  background-color: rgb(53, 197, 240);
}
.next:hover svg {
  fill: white;
}

@media all and (max-width: 1248px) {
  .more,
  .row {
    display: none;
  }

  .container {
    width: 600px;
    flex-direction: column;
  }

  .wrapper {
    height: 700px;
  }

  .card {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: -40px;
  }

  .image_box {
    width: 200px;
    height: 140px;
  }

  .description_container {
    height: 140px;
    width: 370px;
  }

  .top {
    display: flex;
    justify-content: center;
  }
  .title {
    width: 600px;
    position: relative;
    left: 500px;
  }
}
