.box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 55px;
  margin-bottom: 20px;
}

.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  padding-left: 14px;
  padding-right: 15px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 900;
  font-size: 20px;
}

.more {
  text-decoration: none;
  color: rgb(53, 197, 240);
  font-weight: 900;
  font-size: 15px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1160px;
}

.card {
  margin: 10px;
  width: 268px;
  height: 268px;
  cursor: pointer;

  overflow: hidden;
}

.photo_box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 6px;
}

.photo_box img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  transition: transform 0.2s ease-in-out;
}

.card:hover .photo_box img {
  transform: scale(1.03);
}

.profile_box {
  width: 100%;
  position: relative;
  left: 15px;
  bottom: 40px;
}

.profile_box img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid white;
}

.user {
  margin-left: 5px;
  color: white;
  font-weight: 700;
  font-size: 16px;
}

.icon {
  position: relative;
  left: 242px;
  top: -330px;
  opacity: 70%;
}

.bookmark {
  position: relative;
  left: 10px;
  top: -296px;
  opacity: 80%;
}

.rank {
  color: white;
  position: relative;
  left: -25px;
  top: 3px;
  font-size: 20px;
  font-weight: 600;
}
